body {
    font-family: Arial;
    font-size: 12px;
}

table {
    border-collapse: collapse;
    width: 450px;
}

tr:nth-child(2n) {
    background-color: #ededda;
}

th:last-child {
    width: 18%;
}

tbody {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

th, td {
    border-right: 1px solid gray;
    padding: 5px 6px;
    text-align: left;
}

tr:before {
    border-right: none;
}

th {
    color: white;
    background-color: #50B306;
    font-weight: normal;
}

img {
    height: 12px;
    width: 20px;
    vertical-align: text-top;
}

input {
    margin-left: 5px;
    box-shadow: #888 1px 1px 1px 1px inset;
}

thead th:last-child, tbody td:last-child {
    border-right: none;
}
